* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}

.nav-icons {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.icons {
  text-decoration: none;
  color: black;
}

.blog-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  width: 58%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.blog {
  outline: none;
}

.publish {
  margin-top: 6px;
}
